body {
  width: 360px;
  background-color: #1e2833;
  padding: 40px;
  color: #fff;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background-color: #6f7a85;
    border: none;
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 3px;
}

.illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #2980ef;
}

.form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: #ddd;
  resize: none;
}

.form-control:focus {
  background: none;
  outline: none;
  color: #fff;
}

.form-control::-webkit-scrollbar {
    width: 6px;
}

.form-control::-webkit-scrollbar-track {
    background-color: #6f7a85;
    border: none;
    border-radius: 3px;
}

.form-control::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 3px;
}

#session-description {
  overflow: hidden;
}

pre {
  margin: 0;
  padding: 0;
  max-height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #6f7a85;
}

#session-data {
  font-size: 0.7rem;
}

.btn-primary {
  color: #ddd;
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  border: none;
  outline: none;
  background: #214a80;
  outline: none;
  box-shadow: none;
}


.forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.forgot:hover, .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.btn-primary:active {
  transform: translateY(1px);
}

.hidden {
  display: none;
}